/*
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*/

html {
  font-size: 62.5%;
}

body {
  font-family: "Goldman", cursive;
  margin: 10px;  padding: 10px;
  background-color: black;
  color: white;
  height: auto;
  padding: auto;
}

h1 {
  text-align: center;
}

.subbody {
  background-image: url("./img/hacker.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: auto;
  height: fit-content;
}

footer {
  background-color: #00a8c7;
  width: auto;
  height: 100px;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  text-align: center;
  margin: auto; border: 10px; padding: auto;
}

nav {
  display: flex;
  width: auto;
  height: 10vh;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}

nav a {
  color: white;
  text-decoration: none;
}

nav img {
  width: 5vw;
}

.tekst {
  font-size: 24px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  list-style-type: circle;
}

.tekst2 {
  font-size: 24px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.img1 {
  float: left;
}
.img2 {
  float: right;
}
/* Style The Dropdown Button */
.dropbtn {
  background-color: #00a8c7;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-size: 2.5rem;
  font-size: 24px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px #E9E9E9;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #00a8c7;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: white;
  color: #00a8c7;
}