nav {
    width: auto;
    height: 10%;
}
#1 {
    width: auto;
    height: 30%;
    background-color: aqua;
}
#2 {
    width: auto;
    height: 30%;
}
#3 {
    width: auto;
    height: 30%;
}

@media screen and (max-width: 576px) {
    .menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        list-style: none;
    #1 {
        background-color: aqua;
    }
    #2 {
        background-color: ;
    }
    #3 {
        background-color: ;
    }
    }
}

@media screen and (max-width: 768px) {
    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style: none;
        #1 {
            background-color: ;
        }
        #2 {
            background-color: ;
        }
        #3 {
            background-color: ;
        }
    }
}
@media screen and (max-width: 992px) {
    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style: none;
        #1 {
            background-color: ;
        }
        #2 {
            background-color: ;
        }
        #3 {
            background-color: ;
        }
    }
}