nav {
    width: auto;
    height: 10%;
}

@media screen and (max-width: 576px) {
    .section1 {
    display: block;
    width: auto;
    height: 30%;
    background-color: aqua;
    }
    .section2 {
        display: block;
        width: auto;
        height: 30%;
        background-color: plum;
    }
    .section3 {
        display: block;
        width: auto;
        height: 30%;
        background-color: rgb(121, 37, 163);
    }
}

@media screen and (max-width: 768px) {
    .section1 {
        display: block;
        width: auto;
        height: 30%;
        background-color: red;
        }
        .section2 {
            display: block;
            width: auto;
            height: 30%;
            background-color: blueviolet;
        }
        section3 {
            display: block;
            width: auto;
            height: 30%;
            background-color: blue;
        }
}
@media screen and (max-width: 992px) {
    .section1 {
        display: block;
        width: auto;
        height: 30%;
        background-color: yellow;
        }
        #section2 {
            display: block;
            width: auto;
            height: 30%;
            background-color: orange;
        }
        section3 {
            display: block;
            width: auto;
            height: 30%;
            background-color: green;
        }
}