body {
    max-width: 1200px;
    text-size-adjust: 48px;
    width: auto;
    height: auto;
    display: flex;
}
.topnav {
    display: flex;
    align-items: center;
    text-size-adjust: 48px;
    text-decoration: none;
}
.1 {
    justify-self:flex-start;
    justify-content: space-around;
}
.2 {
    justify-self:flex-end;
    justify-content: space-around;
}
a:link {
    text-decoration: none;
}