body {
    max-width: 1200px;
    text-size-adjust: 48px;
    width: auto;
    height: auto;
}
.topnav {
    display: flex;
    align-items: center;
    text-size-adjust: 48px;
}
#1 {
    display: flex;
    justify-self:flex-start;
    justify-content: space-around;
}
#2 {
    display: flex;
    justify-self:flex-end;
    justify-content: space-around;
}